<footer class="footer">
  <small>
    <a href="#">© Wolf</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "О нас",   '/about' %></li>
      <li><%= link_to "Контакты", '/contact' %></li>
      <li><a href="#">Новости</a></li>
    </ul>
  </nav>
</footer>